<body
    style="width: 500px; margin: auto auto;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: gray;">
    <div style="text-align: justify;">
        <div style="background-color: rgba(139, 0, 0, 0.5);padding: 5px 15px;color: white;">
            <p>Xin chào <b>[[${name}]]</b>,</p>
            <p>Cảm ơn bạn đã đăng ký sử dụng dịch vụ tại Zuhot Cinema - nền tảng đặt vé xem phim trực tuyến hàng đầu
                Việt Nam.
                Chúng tôi rất vui mừng khi được chào đón bạn làm thành viên của cộng đồng Zuhot Cinema.</p>
        </div>
        <div style="background-color: rgba(0, 0, 0, 0.8);padding: 5px 15px; color: rgba(255, 255, 255, 0.7);">
            <p style="color: white">
                Để xác minh vui lòng bấm chọn:
                <a style="font-weight: bold;" th:href=@{|${url}/register/active?userToken=${token}|}>Tại đây</a>
            </p>
            <p>Zuhot Cinema là nơi bạn có thể tìm kiếm, so sánh và đặt vé xem phim nhanh chóng, tiện lợi và an
                toàn.
                Chúng
                tôi cung cấp cho bạn hàng ngàn lựa chọn phim ở các rạp chiếu phim uy tín, với mức giá ưu đãi và chất
                lượng đảm bảo. Bạn cũng có thể nhận được nhiều ưu đãi hấp dẫn và quà tặng hấp dẫn khi tham gia các
                chương trình khuyến mãi của chúng tôi.</p>

            <p>Để bắt đầu trải nghiệm dịch vụ của Zuhot Cinema, bạn chỉ cần vào trang web hoặc ứng dụng của chúng
                tôi,
                chọn phim mình yêu thích, chọn rạp chiếu phim và suất chiếu phù hợp, và thanh toán qua các phương
                thức an toàn và tiện lợi.</p>
        </div>
        <div style="background-color: white;padding: 5px 15px;">
            <p>Chúc bạn có những giây phút xem phim thật vui vẻ và ý nghĩa cùng Zuhot Cinema!</p>
            <p>If you have any questions, contact us at <a href="">zuhot@zuhot.com</a>.</p>
            <img style="width: 150px; display: block; margin-left: auto; margin-top: 15px; margin-bottom: 15px;"
                th:src="@{https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-zLSIKpnonQLiHOoLR_DqJqXtl1O43QXwQr7RYUWhDYYBg5F4Z5wBFDJxl09VP_39BNHeipbHiTxwyU-_wLNkruDzWyeA=w1920-h923}"
                alt="Title">
        </div>
    </div>
</body>