<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/cinema_projects/BE_Cinema">
        <classes>
            <class name="com.example.demo.controller.CustomerControllerTest">
                <methods>
                    <include name="testFindById"/>
                    <include name="testFindByIdIsInvalidDataType"/>
                    <include name="testFindByIdIsNotPresent"/>
                    <include name="testFindByIdIsNull"/>
                    <include name="testRegistrationConfirmIsNotPresent"/>
                    <include name="testRegistrationConfirmIsNull"/>
                    <include name="testRegistrationConfirmIsNothing"/>
                </methods>
            </class>
            <class name="com.example.demo.controller.HomeControllerTest">
                <methods>
                    <include name="getAll"/>
                </methods>
            </class>
            <class name="com.example.demo.controller.MovieControllerTest">
                <methods>
                    <include name="findById"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>